# Constraints file for the Spartan 3 board

Net "clk"		LOC = "T9";
NET "clk"		PERIOD = 20ns; 
NET "vgar"		LOC = "R12";
NET "vgag"		LOC = "T12";
NET "vgab"		LOC = "R11";
NET "vgahs"		LOC = "R9";
NET "vgavs"		LOC = "T10";
NET "tx"			LOC = "R13";
NET "rx"			LOC = "T13";
NET "reset"		LOC = "L14";
NET "ps2c"		LOC = "M16";
NET "ps2d"		LOC = "M15";	
NET "SW<0>"		LOC = "F12";
NET "SW<1>"		LOC = "G12";
NET "SW<2>"		LOC = "H14";
NET "SW<3>"		LOC = "H13";
NET "SW<4>"		LOC = "J14";
NET "SW<5>"		LOC = "J13";
NET "SW<6>"		LOC = "K14";
NET "SW<7>"		LOC = "K13";
NET "AN<0>"		LOC = "D14";
NET "AN<1>"		LOC = "G14";
NET "AN<2>"		LOC = "F14";
NET "AN<3>"		LOC = "E13";

NET "seg<0>"		LOC = "E14";
NET "seg<1>"		LOC = "G13";
NET "seg<2>"		LOC = "N15";
NET "seg<3>"		LOC = "P15";
NET "seg<4>"		LOC = "R16";
NET "seg<5>"		LOC = "F13";
NET "seg<6>"		LOC = "N16";
NET "seg<7>"		LOC = "P16";